
<center>
<h3> My Games </h3>
<table width="50%" border="1">
	<thead><th>Grid</th><th>Score</th><th>Last Played</th><th>Play Now</th></thead>
	<% @games.each do |game| %>
		<tr>
			<td><%= game.grid %></td>
			<td align="center"><%= game.score %></td>
			<td><%= game.updated_at %></td>
			<td><%= link_to "Continue", game_path(game) %></td>
		</tr>
	<% end %>
</table>
</center>