<!DOCTYPE html>
<html>
<head>
  <title>Fibo2048</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 align="center">Welcome to Fibo 2048</h1>
<p>It is a game similar to 2048, but the numbers are Fibonacci Numbers!!</p>

<table border="1" width="100%">
	<tr>
		<td width="30%"><img src="http://s2.thingpic.com/images/qb/fpqnSsWfPm8Nqrj83L7XwQvv.png"/></td>
		<td valign="top"><%= yield %></td>
	</tr>
</table>

</body>
</html>
